/* = HEADER
--------------------------------------------- */
header{
    display: flex;
    gap: 1em;
    margin: 1.5em 1em;
}
img{
    height: 4em;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* = FORM
--------------------------------------------- */
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2% 8%;
    border-radius: 15px;
    background-color: #D9D9D9;
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    height: 1.5rem;
    padding: 3%;
    border: none;
    border-radius: 10px;
}
select{
    padding: 7%;
    border: none;
    border-radius: 10px;
}
button{
    padding: 3% 5%;
    border: none;
    border-radius: 10px;
    background-color: #5796BA;
}
.text{
    font-size: small;
}