/* = FUENTES
--------------------------------------------- */
@font-face{
    font-family: Infinity;
    src: url('../fonts/Infinity/MADEINFINITY\ PERSONALUSE-Medium.otf');
}
@font-face{
    font-family: LouisGeorge;
    src: url('../fonts/LouisGeorgeCafe/Louis\ George\ Cafe.ttf');
}
@font-face{
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

/* = HEADER
--------------------------------------------- */
header{
    font-family: 'Infinity';
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    background-color: #D9D9D9;
    margin: auto;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    flex-flow:wrap;
    min-height: 440px;
    max-height: 440px;
    /* overflow: hidden; */
    /* overflow: scroll; */
}

/* = ASIDES
--------------------------------------------- */
aside{
    font-family: 'Roboto';
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 3%;
    width: 20%;
    border-radius: 20px 0 0 20px;
    background-color: #D9D9D9;
}
.encabezado{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}
.jDer{
    text-align: end;
}
.titulos{
    font-family: 'LouisGeorge';
    font-size: 1.5em;
    text-align: center;
}
input{
    height: 1.5rem;
    padding: 3%;
    border: none;
    border-radius: 10px;
    background-color: #ECECEC;
}
.server{
    align-self: flex-end;
    width: max-content;
    padding: 0.5em 1em;
    border-radius: 20px;
    font-size: small;
    color: #ffffff;
    background-color: #5796BA;
}
#crear{
    position: absolute;
    bottom: 5%;
}
#unirse{
    margin: 0 3%;
}

/* = SERVIDORES
--------------------------------------------- */
.servidores{
    font-family: 'Roboto';
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.5%;
    width: 80%;
    border-radius: 0 20px 20px 0;
    background-color: #EAEAEA;
}

/* = Botones
-----------------------------------------------*/
.boton{
    background-color: #366372;
    border-color: #36637200;
    color: #EAEAEA;
    align-items: center;
}

/* = Títulos
-----------------------------------------------*/
h1{
    text-align: center;
    margin: auto;
    size: 20%;
}
/* = Divs
-----------------------------------------------*/
div{
    display: flex;
    margin: auto;
    text-align: justify;
.portada{
    height: 7.5em;
    border-radius: 20px 20px 0 0;
    background-color: #D6D6D6;
}
.usuarioPortada{
    position: absolute;
    top: 20%;
    left: 3%;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: #BBBBBB;
}
.datos{
    display: flex;
    flex-direction: column;
    padding: 0 3%;
    gap: 0.5em;
}
.info{
    display: flex;
    justify-content: space-around;
}
.cuadros{
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: 0 0 1% 0;
    width: 42.5%;
    /* overflow: hidden;
    overflow: scroll; */
    border-radius: 20px;
    background-color: #D6D6D6;
}

/* = CHAT
--------------------------------------------- */
.chat{
    display: none; /*flex*/
    flex-direction: column;
    gap: 1em;
    margin: 0 3%;
}
.fulanitos{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;
    height: 3.75em;
    /* margin: 0 3%; */
    border-radius: 20px;
    background-color: #D9D9D9;
}
.fotitos{
    height: 2.75em;
    width: 2.75em;
    margin: 0 0 0 2%;
    border-radius: 50%;
    background-color: #5796BA;
}