nav.NavBar ul{
    height: 51px;
    background-color: #eeeeee;
    padding: 0px;
    /*position: fixed;*/
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;
    
}

img{
    width: 38px;
    height: 40px;

}

#UNAM{
    padding: 0px;
    margin-left: 20px;
}

li a  {
    padding: 10px;
    background-color: #34606e;
    text-decoration-line: none;
    color: #ffffff;
}

#FP{
    background-color: none;
}

h2{
    text-align: center;
}
#Guardado{
    text-align: 10px;;
}